include header

.wrap
    .content
        header.header.bg-primary.header-size
            include site_header

        .container
            .row
                .goods-wrap
                    h2.panel-title #{goods[0]['name']}
                .goods-wrap1.text-center
                    img(src="img/"+goods[0]['image'], alt="" class="goods-big-image")
                .goods-wrap2.text-center
                    p.goods-description.text-center #{goods[0]['description']} 
                    span.success Цена: #{goods[0]['cost'].toFixed(2).replace(/\d(?=(\d{3})+\.)/g,'$&')} rub
                    button.btn.btn-primary.button-succsess.add-to-card(data-goods_id=goods[0]['id']) To cart
    include nav
include footer
