include header

.wrap
    .content
        header.header.bg-primary
            include site_header
            
        .container
            .row
                .wrapper
                    each val2, index2 in cat      
                        h1.text-center
                            a(href='/cat?id='+val2['id']) #{val2['category']}
                        each val, index in goods
                            if val2['id'] == val['category']
                                    include card

                a(href="#" class="up-to-top")         
    include nav
include footer
