.site-nav.button-primary
    .close-button-div
        button.button-primary-outlined.close-nav x
    h3.cart-header.center Товары
    #category-list.cat-menu
    h3.cart-header.center Заказы
    #cart-nav
    .text-left
        a(href="/order" target="_blank") 
            .center
                button.btn.btn-light.button-primary-outlined Сделать заказ