include header

.wrap
    .content
        header.header.bg-primary.header-size
            include site_header_order
        .container
            .row
                .order-wrap
                    h3.cart-header Товары
                    #cart-nav                
                    h3.cart-header Сделать заказ
                .order-wrap
                    form#lite-shop-order(action='')                                
                                    .form-group   
                                        label(for='username') Имя
                                        input(type="text" id='username' class='form-control' placeholder='Введите ваше имя')
                                    .form-group   
                                        label(for='phone') Телефон
                                        input(type="text" id='phone' class='form-control' placeholder='8 800 800 8000')
                                    .form-group   
                                        label(for='email') Email
                                        input(type="text" id='email' class='form-control' placeholder='mail@exemple.com')
                                    .form-group   
                                        label(for='address') Адрес
                                        textarea(type="text" class='form-control' id='address' placeholder='Введите ваш адрес')
                                    .form-group   
                                        label(for='rule')
                                        input(type="checkbox" id='rule'  value='1')
                                        span Условия и соглашения
                                    .form-group.text-right
                                        button(class='btn btn-primary', type='submit') Сделать заказ
                                        
        //include nav
    include footer
    script(src="js/order.js")