.container-fluid
    .row
        .col.col-lg-1.col-md-1.show-nav
            button <i class="fas fa-bars"></i>
        .col.col-lg-12.col-md-12
            a(href="/")
                h1.text-left.text-white.tit-info Lite Shop
