.container-fluid
    .row           
        .col.col-lg-12.col-md-12.col-sm-10
            button.show-nav__but.show-nav <i class="fas fa-bars"></i>
            a(href="/")
                h1.tit-info Lite Shop
