* {
    box-sizing: border-box;
    font-family: sans-serif;
}
.wrap {
    background: #fff;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}
.center {
    text-align: center;
}

/*-----------------------header--------------------*/

.header {
    min-height: 120px;    
}
.tit-info {  
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    margin: 50px 0 50px 15%;
    display: inline-block;
}

/*--------------------cart--------------------*/

.card {
    height: 570px;
    width: 31.33%;
    border: 1px solid #dedede;
    margin: 1%;
    display: inline-block;
    float: left;
}

.cat-header{
    text-align: center;
    margin: 20px auto;
    display: block;
}
.card-title {
    margin: 20px auto;
    width: 80%;
}
.col-lg-12 a{
    text-decoration: none;
}
.card-action li{
    list-style-type: none;
}

.card a{
    text-decoration: none;
}

.img-wrap {
    text-align: center;
    margin-bottom: 20px;
}
.wrapper {    
    display: inline-block;
    height: auto;
    max-width: 100%;   
}
.add-to-card {
    margin: 20px auto;
}
.description {
    margin: 20px auto;
}
.cart-header {
    margin: 40px auto;
    font-size: 30px;
}
.order-wrap {
    width: 40%;
    margin: 40px 20% 0 20%;
}


/*-------------------------Nav----------------*/

.site-nav {
    width: 300px;
    min-height: 100vh;
    position: fixed;
    left: -300px;
    top: 0;
    z-index: 999999;
    padding: 10px;
    transition: all ease 1s;
    color: #fff;
    background: #1E90FF;
}
.show-nav__but {
    height: 40px;
    width: 60px;
    border-radius: 5px;
    margin: 50px 50px 50px 10%;
}

.close-button-div {
    text-align: right;
}
.close-nav {
    border-radius: 100%;
    border: none;
    height: 30px;
    width: 30px;
    background: red;
    color: #fff;
}

.show-nav {
    margin: 50px 0 50px 20%;
}
.cat-menu ul {
    list-style-type: none;
    margin-bottom: 40px;
}

ul.category-list a{
    font-size: 25px;
    color: #424242;
}
.site-nav a{
    color: #424242;
    text-decoration: none;
}
.cart-plus {
    cursor: pointer;
}
.cart-minus {
    cursor: pointer;
}
#cart-nav {
    margin-bottom: 40px;
}

.card-action {
    margin: 0;
    padding: 0;
}
/*-----------------singl-goods-page-------------------*/

.goods-wrap {
    margin: 30px auto;
}
.goods-wrap1 {
    display: block;   
    width: 100%;
    height: auto;
}
.goods-big-image {
   width: 30%;
   height: auto;
}

.goods-wrap2 {
    display: inline-block;
    margin: 30px auto;

}
.button-succsess {
    margin: 0 0 0 20px;
}
.goods-description {
    width: 80%;
    margin: 20px auto;
}

/*-------------------------Footer--------------------*/
.footer {
    background: #696969;
    height: 250px;
    line-height: 250px;
    margin-top: 40px;
}
/* -----------------back to top btn------------------*/
.up-to-top {
    position: fixed;
    right: 30px;
    bottom: 250px;
    width: 50px;
    height: 50px;
    border-color: transparent;
    border-radius: 50%;
    background-color: #629468;
    opacity: 0.5;
}
.up-to-top:hover,
.up-to-top:focus {
    filter: brightness(1.5);
    outline: none;
}

.up-to-top::before,
.up-to-top::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.up-to-top::before {
    width: 5px;
    height: 25px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #f5f0f6;
}

.up-to-top::after {
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: 5px solid #f5f0f6;
    border-left: 5px solid #f5f0f6;
}





/*----------------------------*/

@media screen and (max-width: 768px){
    .card {
        width: 48%;
        margin: 10px 1%;
        max-height: 540px;
    }
    .description {
        width: 98%;
        margin: 10px 1%;
    }
    .card-img {
        max-height: 280px;
        max-width: 80%;
    }
    .cart-header {
        width: 98%;
        margin: 10px 1%;
    }
    .footer {
        height: 150px;
        line-height: 150px;
    }
    .card-title {
        margin: 30px auto;
        width: 80%;
        font-size: 20px;
    }
    .header {
        height: 60px;    
    }
    .show-nav {
        margin: 30px 0 20px 10%;
    }
    .tit-info {
        font-size: 45px;
        font-weight: bold;
        margin: 30px 0 20px 15%;
    }
    h1 a{
        display: block;
        width: 100%;
    }
    .goods-wrap {
        width: 95%;
        margin: 20px 2.5%;
    }
    .order-wrap {
        width: 90%;
        margin: 40px 5% 0 5%;
    }
    
}

@media screen and (max-width: 576px){
    .card {
        width: 90%;
        margin: 10px 5%;
        max-height: 450px;
    }
    .description {
        width: 95%;
        margin: 10px 2.5%;
        text-align: center;
    }
    .card-img {
        max-height: 200px;
        max-width: 65%;
    }
    .cart-header {
        width: 98%;
        margin: 10px 1%;
    }
    .footer {
        height: 100px;
        line-height: 100px;
    }
    .card-title {
        margin: 30px auto;
        width: 80%;
        font-size: 20px;
    }
    .header {
        height: 60px;    
    }
    .show-nav {
        margin: 20px 0 20px 10%;
    }
    .tit-info {
        font-size: 35px;
        font-weight: bold;
        margin: 20px 0 20px 15%;
    }
    
}